<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#121e27"/>
    <link rel="manifest" href="./app.webmanifest">
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>MADANG RESTAURANT</title>
  </head>
<body>
  <a href="#main" class="skip-link">Skip to Content</a>

  <header class="header">
    <div class="header__drawer">
      <h1 class="header__title">MADANG</h1>
    </div>
    <a href="#" class="header__menu" aria-label="navigation-menu">☰</a>
    <nav id="nav" class="nav">
      <div class="close__element">
        <a href="#" aria-label="close navigation menu" class="close__menu">&times;</a>
      </div>
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="https://www.instagram.com/yanuar_nnn/?hl=id" target="__blank">About Us</a></li>
      </ul>
    </nav>
  </header>
  

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Temukan Makanan Favoritmu Di Restaurant Kami</h1>
      <p class="hero__tagline">Restaurant kami menyediakan berbagai jenis makanan yang bisa anda
        coba
      </p>
    </div>
  </div>

  <div id="root"></main>

    <footer>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <p>Copyright &copy; 2022 - All Rights Reserved Madang.</p>
    </footer>

</body>
</html>
